$def with(name)
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>hello PiCar</title>
        <script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="../static/mycode.js"></script>

        <link href="../static/mycss.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <p>Hello PiCar!</p>
        <hr/>
        <div>
            <img src="../static/arrow_up.png" alt="up" dir="1" />
        </div>
        <div>
            <img src="../static/arrow_left.png" alt="left" dir="3" />
            <img src="../static/arrow_stop.png" alt="stop" dir="5" />
            <img src="../static/arrow_right.png" alt="right" dir="4" />
        </div>
        <div>
            <img src="../static/arrow_down.png" alt="down" dir="2" />
        </div>
		<div><input type="number" id="angle" value="0"></div>
		<div>
			<img id="my_img" src="http://192.168.199.199:8080/?action=stream"/>
		</div>
    </body>
</html>
